.dot-flashing {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: rgb(64, 0, 148);
  color: rgb(64, 0, 148);
  -webkit-animation: dot-flashing 1s infinite linear alternate;
  animation: dot-flashing 1s infinite linear alternate;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: rgb(64, 0, 148);
  color: rgb(64, 0, 148);
  -webkit-animation: dot-flashing 1s infinite alternate;
  animation: dot-flashing 1s infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: rgb(64, 0, 148);
  color: rgb(64, 0, 148);
  -webkit-animation: dot-flashing 1s infinite alternate;
  animation: dot-flashing 1s infinite alternate;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes dot-flashing {
  0% {
    background-color: rgb(64, 0, 148);
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

@keyframes dot-flashing {
  0% {
    background-color: rgb(64, 0, 148);
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
