.dot-gathering {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  margin: -1px 0;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.dot-gathering::before,
.dot-gathering::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -50px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: black;
  color: transparent;
  opacity: 0;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-animation: dot-gathering 2s infinite ease-in;
  animation: dot-gathering 2s infinite ease-in;
}

.dot-gathering::after {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes dot-gathering {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  35%,
  60% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

@keyframes dot-gathering {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  35%,
  60% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
